@{
    ViewBag.Title = "Home Page";
}

    <ul id="menu">
        @Html.ActionLink("主页", "Index", "Home")                     @Html.ActionLink("nc_getEdiNo", "index", "nc_getEdiNo")                     @Html.ActionLink("联系方式", "Contact", "Home")                 @Html.ActionLink("关于", "About", "Home")
    </ul>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
    </div>
</div>